{% extends 'layout.html' %}
{% from 'macros/blog.html' import render_blog_post %}

{% block title %}
{{ this.title }}
{% endblock %}

{% block body %}
<section class="section">
  <div class="container">
    <div class="content">
      <h2>{{ this.title }}</h2>

      {{ this.body }}

      <ul>
        {% for child in this.children.filter(F.show_in_menu == True).order_by('sort_index', 'name') %}
        <li>
          <a href="{{ child|url }}">{{ child.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
{% endblock %}